## Python Tutorial

In [2]:
# quicksort 구현예제

# 구현하기 쉽지 않음

# 교수님용

def quicksort(arr):
    if len(arr) <= 1:
        return arr
    pivot = arr[len(arr) // 2]
    left = [x for x in arr if x < pivot]
    middle = [x for x in arr if x == pivot]
    right = [x for x in arr if x > pivot]
    return quicksort(left) + middle + quicksort(right)

print(quicksort([3,6,8,10,1,2,1]))

[1, 1, 2, 3, 6, 8, 10]

### bubble sort
- 버블은 아래에서부터 위로 버블버블 올라감 = 가벼운게 가장 위에 있어야함
- 즉 위에서 부터 12345 형태로 두고 싶음
- min같은거 사용하지 않고 숫자를 서로 비교만 해서 정렬하기
- swap을 사용

## 기본데이터 타입
- 정수 int
- 실수 float
- 불리안 booleans
- 문자열 str
  
// 몫을 구하는 것으로 소수점자리를 떼버리는데 활용가능함  
소수점을 떼주는 함수가 있지만 // 쓰는게 속도 등이 더 빠르게 계산됨

### type() 함수로 타입을 확인할 수 있음

In [23]:
u = 2.5
type(u)

float

In [24]:
x = 2.0
y = 2
print(type(x))
print(type(y))

<class 'float'>
<class 'int'>

### bool

조건에 따른 if, while 문 등을 쓸 때 유용하게 활용가능

bool과 숫자타입은 호환이 가능하다 !!!!!!!

### 불리안의 경우 이항연산자
### 이항연산자의 항에 대한 발생할수있는 모든 경우의 수는 4개
( t,t) (t,f) (f,t) ( f,f)
### 단항이면 2개 
(t) (f)

In [12]:
t, f = True, False
print(type(t)) # 변수의 type을 출력

<class 'bool'>

In [13]:
print(t and f) # Logical AND;   이항연산자
print(t or f)  # Logical OR;     
print(not t)   # Logical NOT;
print(t != f)  # Logical XOR;

False
True
False
True

### 문자열 

len()  길이

문자열에 대한 더하기 가능  
숫자 더하기는 사칙연산  
문자열의 더하기는 문자 + 문자 로 '연결'이 됨

## 문자열 포맷팅 ( formatting )

%f - 실수

%.f - 실수의 소숫점 이하 자리 수를 지정

In [22]:
height = 174.2345
print("%fcm \n%.1fcm" % (height, height))

174.234500cm
174.2cm

In [30]:
### 교수님이랑 같이 실습

a = 5
b = 7
print("%d와 %d를 더해주면 %d가 됩니다" % (a,b,a+b))

5와 7를 더해주면 12가 됩니다

## 컨테이너 ( Containers )
- 두 개 이상의 값을 저장
- 파이썬 내장 컨테이너 타입 
  - 리스트 lists []
  - 사전   dictionaries {}
  - 집합   sets
  - 튜플   tuples ()

In [34]:
# 리스트

c = [ 1, 2, 'asdf']
print(c, type(c))

[1, 2, 'asdf'] <class 'list'>

### 튜플생성자는 리스트를 받아서 튜플로 변환함

### - 튜플은 값의 변경이 불가함 (리스트와 다름점!!)

In [40]:
# tuple

c_1 = ( 1, 2, 'asdf' )
print(c_1, type(c_1))

(1, 2, 'asdf') <class 'tuple'>

In [46]:
d, e, f = c_1

In [47]:
d

1

In [48]:
e

2

In [49]:
f

'asdf'

In [50]:
c_1

(1, 2, 'asdf')

In [51]:
# 인덱싱
# 인덱스 번호를 통해 값을 뽑아오는 것
c_1[2]

'asdf'

In [53]:
c_1[2] = "ㅋㅌㅊㅍ"   

# 에러 !!!  튜플이라서 값을 바꾸려고하면 에러가 남

## TypeError:'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

# 튜플에 복사해서 넣는 것과 ?? 튜플의 값을 바꾸는 것은 다르다??????

### 파이썬에만 있는 기능 --> 음수 인덱싱
- 뒤에서부터 세어줌
- 단, 뒤에부터 셀경우는 0부터 세지 않고 [-1]을 하면 맨뒤의 애를 불러옴
  
*** 음수 인덱싱 쓸수 없다면 len함수를 사용해서 맨뒤의 값을 가져올수있음! ***

In [54]:
c[-1]

'asdf'

In [55]:
len(c)

3

In [58]:
c[len(c)-1]     # java나 c에서는 이런식으로 구할 수 있게됨

'asdf'

### 빈 리스트를 만든 후 append를 통해 while, for문 시에 리스트에 집어넣으면서 사용하는 경우가 많음!

In [61]:
l1 = []
for i in range(10) : # range(10) :: 0부터 9(총 10개)까지 하나씩 생성하면서 리스트에 넣음(append)
    l1.append(i)

l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [64]:
l1 = []
for i in range(10) : 
    l1.extend([i])     # l1.extend(i) 하면 에러  //  l1.extend([i]) 이렇게 해야 에러X

l1

# append :: 요소 하나를 만들어서 하나씩 요소를 추가하고 싶은 경우
# extend :: 컨테이너를 계속 이어붙이고 싶은 경우

# 현재 상황에서는 같아보이지만 사용목적?이 다르다는 것을 정확히 인지하고 있어야 함

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 인덱싱과 슬라이싱
- 인덱싱은 하나의 요소를 가져오고 싶을 때
- 슬라이싱은 리스트의 일부(서브리스트)를 가져오고 싶을 때

In [66]:
nums = list(range(5))
nums

[0, 1, 2, 3, 4]

In [68]:
# 슬라이싱으로 값도 변경 가능!

nums[2:4] = [8, 9]
nums

[0, 1, 8, 9, 4]

In [71]:
# 값의 수가 같지않아도 가능함!!

nums[2:4] = [ 100, 200, 300 ]
nums

# 아마 넘파이에서는 길이가 정해져있어서 불가능할것

[0, 1, 100, 200, 300, 300, 300, 4]

In [72]:
nums2 = list(range(10))
print(nums2)
print(nums2[::2])    # 처음부터 2씩 건너뛰면서 출력 -> 결과적으로 짝수만 출력
print(nums2[1::2])   # 1번째부터 2씩 건너뛰면서 출력 -> 결과적으로 홀수만 출력
print(nums2[::-1])   # 뒤에서부터 거꾸로 출력
print(nums2[:-3:-1]) # nums의 -3 인덱스 (7) 이전까지 뒤에서부터 거꾸로 출력

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[9, 8]

## 순환/반복(Loops)
일반적으로 for문

In [74]:
animals = ['cat', 'dog', 'monkey']
for animal in animals: # animals의 모든 요소에 대하여 - 매 순환마다 요소를 animal에 assign
    print(animal)
    
# for ~ in 리스트 :: 형식으로 in  뒤에 바로 리스트 쓸수있게 되어있음

cat
dog
monkey

In [78]:
names = ['a', 'b', 'c']
scores = [ 50, 90, 70 ]

In [79]:
for i, names in enumerate(names) : 
    print(names)

a
b
c

In [83]:
# ???????????????????????????????????????? 두개가 나란히 나오도록 하는게 있었다..

for i, name in enumerate(names, scores) : 
    print(names, scores)

TypeError: 'list' object cannot be interpreted as an integer

In [85]:
##  split()

text = 'Hi how are you'
text_split = text.split() #문자열을 space 기준으로 분리
print(text_split)

text_again = ','.join(text_split) 
#문자열 리스트를 병합, join 앞의 문자열을 중간에 끼워 넣음
## 문자열을 연결하는 중간중간에 ,를 넣어서 연결하겠다.
print(text_again)


print(text_again.split(',')) #,를 기준으로 문자열을 분리하고 싶다면?

['Hi', 'how', 'are', 'you']
Hi,how,are,you
['Hi', 'how', 'are', 'you']